@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "https://code.highcharts.com/dashboards/css/dashboards.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Nunito Sans',sans-serif;
  font-weight: 400;
  /* font-size: 14px; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ded5d5;
}

::-webkit-scrollbar-thumb {
  background: #808080;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a;
}